.to-top-container {
    width: 150px;
    height: 175px;
    position: fixed;
    cursor: pointer;
    z-index: 99;
    right: 50px;
    bottom: 50px;
    background-color: transparent;
    background-image: url("https://static.hdslb.com/bl2se/images/rocket_top.png");
}